@charset "UTF-8"
/*Regra @charset caso haja problemas com acentuação (assim como em HTML)*/

body {
    background-color: wheat;
    color: darkblue;
    font-size: 12;
    font-family: Arial;
}

h1 {
    color: brown;
}

a {
    color: brown;
    text-decoration: none;
}