@charset "UTF-8";

body {
    background: url(../imagens/back-pc.jpg) no-repeat top center fixed;
    background-size: cover;
}

#phone {display: none;}
#pc {display: block;}
#printer {display: none;}