@charset "UTF-8";

body {
    background-image: url(../imagens/back-print.jpg);
}

#phone {display: none;}
#tablet {display: none;}
#pc {display: none;}
#tv {display: none;}
#printer {display: block;}