@charset "UTF-8";

body {
    background: url(../imagens/back-tablet.jpg) no-repeat center center fixed;
    background-size: cover;
}

#phone {display: none;}
#tablet {display: block;}
#pc {display: none;}
#tv {display: none;}
#printer {display: none;}