@charset "UTF-8";

body {
    background: url(../imagens/back-tv.jpg) no-repeat left center fixed;
    background-size: cover;
}

#phone {display: none;}
#tablet {display: none;}
#pc {display: none;}
#tv {display: block;}
#printer {display: none;}