@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    text-shadow: 3px 3px 10px black;
    background-color: rgba(128, 128, 128, 0.705);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px grey;
}

main {
    color: white;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 10px;
}

img {
    background-color: rgb(30, 30, 30);
    border-radius: 60px;
    padding: 20px;
}